<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hcmus.movieapp">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.hcmus.movieapp.activities.ResultTicketSportActivity"></activity>
        <activity android:name="com.hcmus.movieapp.activities.ConfirmationSportActivity" />
        <activity android:name="com.hcmus.movieapp.activities.SeatPlaceSportActivity" />
        <activity android:name="com.hcmus.movieapp.activities.NowShowingActivity" />
        <activity android:name="com.hcmus.movieapp.activities.ComingSoonActivity" />
        <activity android:name="com.hcmus.movieapp.activities.SellingSportTicketActivity" />
        <activity android:name="com.hcmus.movieapp.activities.ResultTicketActivity" />
        <activity android:name="com.hcmus.movieapp.activities.ConfirmationActivity" />
        <activity android:name="com.hcmus.movieapp.activities.SeatPlaceActivity" />
        <activity android:name="com.hcmus.movieapp.activities.BookingTicketActivity" />
        <activity android:name="com.hcmus.movieapp.activities.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.hcmus.movieapp.activities.SellingTicketActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.hcmus.movieapp.activities.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.hcmus.movieapp.activities.RegistrationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.hcmus.movieapp.activities.ChangePasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.hcmus.movieapp.activities.UserInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.hcmus.movieapp.activities.PurchasedTicketDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.hcmus.movieapp.activities.NotificationDetailsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.hcmus.movieapp.activities.CinemaInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.hcmus.movieapp.activities.VenueInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize" />
        <provider
            android:authorities="com.hcmus.movieapp.fileprovider"
            android:name="androidx.core.content.FileProvider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        
    </application>

</manifest>